@model ProiectMDS.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}
<style>
    body {
        background-image: url("/backgroundReg.jpg");
        margin: 0;
        width: 100%;
        height: 100%;
        backgroud-repeat: no-repeat;
        background-size: cover;
    }

    .loginButton {
        background-color: white;
        border: 2px solid #f44336;
        color: black;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 3px 1px;
        transition-duration: 0.3s;
        cursor: pointer;
    }

    .loginButton:hover {
        background-color: #f44336;
        color: white;
    }
</style>
<body>
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">
        You do not have a local username/password for this site. Add a local
        account so you can log in without an external login.
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Create Local Login</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="loginButton">Set password</button>
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>